<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>motorizeApp1.2</display-name>
  <welcome-file-list>
    <welcome-file>motorize.html</welcome-file>
    <welcome-file>motorize.htm</welcome-file>
    <welcome-file>motorize.jsp</welcome-file>

  </welcome-file-list>
  
  
   <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/motorize/*</url-pattern>
    </servlet-mapping>
    
</web-app>